In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key
from config import g_key

In [3]:
# Store the CSV  you saved created in part one into a DataFrame
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Tolaga Bay,NZ,2021-01-30 23:01:37,-38.3667,178.3000,62.28,72,94,11.36
1,1,Asau,RO,2021-01-30 23:01:36,46.4333,26.4000,43.00,70,0,10.36
2,2,Beringovskiy,RU,2021-01-30 23:01:37,63.0500,179.3167,8.20,95,100,26.42
3,3,Hilo,US,2021-01-30 22:57:47,19.7297,-155.0900,78.80,61,1,5.75
4,4,Nabire,ID,2021-01-30 23:10:00,-3.3667,135.4833,77.43,88,100,2.73
...,...,...,...,...,...,...,...,...,...,...
526,526,Hamilton,US,2021-01-30 23:11:57,39.1834,-84.5333,36.00,51,90,3.44
527,527,Boshnyakovo,RU,2021-01-30 23:12:30,49.6333,142.1667,-2.54,92,100,10.65
528,528,Coruripe,BR,2021-01-30 23:12:30,-10.1256,-36.1756,78.39,81,81,10.47
529,529,Pervomayskiy,RU,2021-01-30 23:12:30,53.2485,40.2871,25.00,86,100,15.75
530,530,Wairoa,NZ,2021-01-30 23:12:30,-39.0333,177.3667,62.01,71,80,1.99

In [4]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [7]:
# Configure gmaps to use your google API key
gmaps.configure(api_key=g_key)

In [13]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [19]:
# Heatmap of temperature
#1 Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

#2 Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

#3 Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

#4 Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)

#5 Add the heatmap layer.
fig.add_layer(heat_layer)

#6 Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [26]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Hilo,US,2021-01-30 22:57:47,19.7297,-155.0900,78.80,61,1,5.75
4,4,Nabire,ID,2021-01-30 23:10:00,-3.3667,135.4833,77.43,88,100,2.73
9,9,Galle,LK,2021-01-30 23:09:12,6.0367,80.2170,77.31,85,95,3.49
15,15,Vaini,TO,2021-01-30 23:01:38,-21.2000,-175.2000,82.40,83,75,6.91
16,16,Carnarvon,AU,2021-01-30 23:02:00,-24.8667,113.6333,80.60,94,6,5.12
23,23,Cabedelo,BR,2021-01-30 23:08:45,-6.9811,-34.8339,78.80,83,20,6.91
30,30,Rikitea,PF,2021-01-30 23:01:37,-23.1203,-134.9692,79.16,74,2,11.18
32,32,Mahibadhoo,MV,2021-01-30 23:11:05,3.7833,72.9667,80.58,78,23,14.29
37,37,Avarua,CK,2021-01-30 23:01:37,-21.2078,-159.7750,78.80,78,75,5.75
44,44,Puerto Ayora,EC,2021-01-30 23:01:42,-0.7393,-90.3518,84.20,70,0,12.66

In [31]:
preferred_cities_df.count()

City_ID       133
City          133
Country       133
Date          133
Lat           133
Lng           133
Max Temp      133
Humidity      133
Cloudiness    133
Wind Speed    133
dtype: int64

In [32]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
3           Hilo      US     78.80  19.7297 -155.0900
4         Nabire      ID     77.43  -3.3667  135.4833
9          Galle      LK     77.31   6.0367   80.2170
15         Vaini      TO     82.40 -21.2000 -175.2000
16     Carnarvon      AU     80.60 -24.8667  113.6333
23      Cabedelo      BR     78.80  -6.9811  -34.8339
30       Rikitea      PF     79.16 -23.1203 -134.9692
32    Mahibadhoo      MV     80.58   3.7833   72.9667
37        Avarua      CK     78.80 -21.2078 -159.7750
44  Puerto Ayora      EC     84.20  -0.7393  -90.3518

In [33]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [36]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [37]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Hilo,US,78.80,19.7297,-155.0900,Hilo Hawaiian Hotel
4,Nabire,ID,77.43,-3.3667,135.4833,Hotel Nusantara Nabire
9,Galle,LK,77.31,6.0367,80.2170,Amangalla
15,Vaini,TO,82.40,-21.2000,-175.2000,Keleti Beach Resort
16,Carnarvon,AU,80.60,-24.8667,113.6333,Hospitality Carnarvon
...,...,...,...,...,...,...
508,Byron Bay,AU,77.00,-28.6500,153.6167,Backpackers Inn on the Beach
510,Kahului,US,78.80,20.8947,-156.4700,Maui Seaside Hotel
522,Bambanglipuro,ID,75.25,-7.9500,110.2833,Puri Brata
524,Vao,NC,75.43,-22.6667,167.4833,Hotel Kou-Bugny
528,Coruripe,BR,78.39,-10.1256,-36.1756,Pousada e Hotel Litoral Sul

In [43]:
hotel_df.head()

         City Country  Max Temp      Lat       Lng              Hotel Name
3        Hilo      US     78.80  19.7297 -155.0900     Hilo Hawaiian Hotel
4      Nabire      ID     77.43  -3.3667  135.4833  Hotel Nusantara Nabire
9       Galle      LK     77.31   6.0367   80.2170               Amangalla
15      Vaini      TO     82.40 -21.2000 -175.2000     Keleti Beach Resort
16  Carnarvon      AU     80.60 -24.8667  113.6333   Hospitality Carnarvon

In [45]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [47]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [50]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))